@using Microsoft.AspNetCore.Components.Web
@inject AntDesign.NotificationService _notice

<div class="alert bg-info alert-dismissible mb-2 col-6" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Heads up!</strong> This alert needs <a href="#" class="alert-link">your attention</a>, but
    it's not super important.
</div>

<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-primary">
            <div class="card-content">
                <div class="card-body pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">8</h3>
                            <span>No of  Blocks</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-bulb font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-warning">
            <div class="card-content">
                <div class="card-body pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">2</h3>
                            <span>No of Male Blocks</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-pie-chart font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-success">
            <div class="card-content">
                <div class="card-body pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">2</h3>
                            <span>No of Female Hostels </span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-graph font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-danger">
            <div class="card-content">
                <div class="card-body pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">23</h3>
                            <span>No of rooms left</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-wallet font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart4" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    private async Task NoticeWithIcon(NotificationType type)
    {
        await _notice.Open(new NotificationConfig()
        {
            Message = "Notification Title",
            Description = "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            NotificationType = type
        });
    }




    protected async override Task OnInitializedAsync()
    {

        await NoticeWithIcon(NotificationType.Success);
    }


    private async Task OnSuccessClick()
    {
        await NoticeWithIcon(NotificationType.Success);
    }
}