@using Microsoft.AspNetCore.Components.Web 
@inject  AntDesign.NotificationService _notice


<Button OnClick="@OnSuccessClick" style="display:none;">
    success
</Button>


@code{
    private async Task NoticeWithIcon(NotificationType type)
    {
        await _notice.Open(new NotificationConfig()
        {
            Message = "Notification Title",
            Description = "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            NotificationType = type
        });
    }

 


    protected async  override Task OnInitializedAsync()
    {
        await OnSuccessClick();
        await NoticeWithIcon(NotificationType.Success);
    }

    private async Task OnSuccessClick()
    {
        await NoticeWithIcon(NotificationType.Success);
    }

    private async Task OnInfoClick()
    {
        await NoticeWithIcon(NotificationType.Info);
    }

    private async Task OnWarningClick()
    {
        await NoticeWithIcon(NotificationType.Warning);
    }

    private async Task OnErrorClick()
    {
        await NoticeWithIcon(NotificationType.Error);
    }

}