@page
@model Hostel.Pages.LsRolesModel
@{
}






@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role name</th>
        </tr>
    </thead>
    <tbody>


        @if (Model.RolesList != null)
        {


            @foreach (var item in Model.RolesList)
            {
                <tr></tr>
            }

        }

    </tbody>
</table>*@
